  // Separate sticky wrapper from main content
  .wrapper#wrapper-sticky { border-bottom: 1px solid $gray-300; }

  // Adding some contrast background color to footer full widget
  #wrapper-footer-full,
  #wrapper-static-hero { background-color: $gray-200; }

  // Pagination
ul.page-numbers,
ul.pagination {

  li a,
  li span {
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    border-right:1px solid #dee2e6;
  }

  li span.current {
    background-color: #fff;
    color: #111;
  }

  li:first-child span.current,
  li:last-child span.current
  {
    border-color:$primary;
  }

  li:first-child span,
  li:first-child a {
    border-left:1px solid #dee2e6;
  }

  li:last-child span.current,
  li:last-child a {
    border-right:1px solid #dee2e6;
  }

  li:first-child span.current, 
  li:last-child span.current {
  border-color: #999;
  }

  li:last-child span.current { 
    border-left: 1px solid #999;
  }
}

