#cta { 
  padding:2rem 0;
  .container { 
    a { 
      display:block;
      border:1px solid transparent;
      text-align:center;
      padding:1rem 2rem;
      font-size:1.2rem;
      margin-top:2rem;
    }
  }
}

@media only screen and (min-width:768px){

  #cta { 
    
    .container { 
      @include flex(center,center,row);
      a { 
        display:inline-block;
        width:420px;
        margin-top:0;
      }
    }

  }
}
